*{
    margin:0;
    padding:0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    background-color: #f5f5f5;
}
.grid-view .filters input{
    width: 90%;
}
.row-fluid [class*="span"]:first-child{
    margin: inherit;
}
#report-btn{
    margin-bottom: 10px;
}
.condition-info{
    padding-left: 15px;
}
#contry-code, #sex, #age, #ageToCondition, #event-condition, #emeralds, #emeraldsToCondition, #coins, #coinsToCondition, #lives, #livesToCondition, #lastPayTime, #lastPayTimeToCondition, #finishedWorlds, #finishedWorldsToCondition, #currentWorld, #currentWorldToCondition, #currentLevel, #currentLevelToCondition, #install, #installToCondition, #installTime, #installTimeToCondition {
    display: none;
}
.condition-inline{
    float: left;
    margin-right: 20px;
    display: block;
    position: relative;
}
.clear{
    clear: left;
}
.banner-image{
    height: 50px;
    margin-right: 5px;
}
#ourdau-previw{
    display: none;
}
#ourdau-previw ul li{
  display: inline;
}
#ourdau-previw ul li img{
  margin-right: 5px;
}
#ourdau-conditions label.checkbox{
    display: inline;
}
#dialog{
    display: none;
}
.primaryConditions, .conditions{
    float:left;
    margin-right: 5px!important;
}
#primary-condition.condition-info label{
    margin-bottom: 0px;
}
#primary-condition {
    padding-bottom: 40px;
}
#rule .span3 h2 {
    margin-bottom: 20px;
}
#search-form-widget .button {
    padding-top: 20px;
}
body .hero-unit {
    padding: 20px;
}
#chart-data .info div {
    margin-top: 20px;
}
#chart-data li {
    width: auto;
}