.company-logo, .photo{width:90px;}
.speaker-row{border-top: 2px solid #D2D2D2;}
.speaker-row h4 {font: bold 13px/18px Arial;}
.speaker-row .description-half{width:50%;padding-bottom:10px;}
.speaker-row .description{padding-bottom:10px;width:100%;}
.breadcrumbs-icon {margin-right: 5px;}
.category-element{border-color:#10b4ea; color:#10b4ea;}
.send-notification{margin: 10px 0px 10px 0px; display: block;}
.description{margin-left: 190px; margin-bottom: 10px;}
.title{margin: 5px 0px 10px 190px; font: 700 13px/18px Arial;}