img {float: left;}
.send-notification {margin: 0px; display: block; float: left; position: relative;}
.mail-item {margin-right: 5px;}
.company-logo-img {position:relative; display:block; top:-15px;}
.bio-text {position: relative; display: block;}