.wrap {width:780px; font-family:Arial; font-size:13px; margin:0px auto; margin-top:10px;}
.wrap input[type='text'],  .wrap textarea {border:#888888 solid 1px;}
.wrap input[type='file'] {border:none;}
.wrap .selectForms {height:54px;}
.wrap .selectForms p {float:left; text-align:center; width:150px; padding:0px; margin:0px;}
.wrap form {font-family:Arial;}
.wrap form .formRow {margin-bottom:12px; overflow:hidden; }
.wrap form .formRow .label {font-size:12px; color:#d40; font-weight:bold; text-align:center;}
.wrap form .leftTitle {width:202px; float:left; padding:2px 4px; position:relative;}
.wrap form .leftTitle p { padding:0px; margin:0px; font-size:13px; }
.wrap form .leftTitle .fieldReq { font-weight:bold; }
.wrap form .leftTitle .subtext { color:#888888; font-size:12px; }
.wrap form .leftField {width:320px; float:left; position:relative; text-align:left; padding:0px;}
.wrap form  .leftField .ticket-code {width: 30px!important;}
.wrap form .leftField input[type='text']  {width:310px;}
.wrap form .leftField textarea {width:310px; height:70px;}
.wrap form .formRow .sclear {display:block; clear:both; height:1px;}
#flash_gamesdsc_count, #social_gamesdsc_count, #mobile_gamesdsc_count {position:absolute; bottom:0px; left:-30px; width:29px; height:18px; border:#888888 solid 1px;}
#formErrors {position:absolute; background:#eeeeee; padding:8px 3px; text-align:center; left:40px; right:40px; top:20px; z-index:100;}
#fancybox-wrap{top:20px !important;}
.faq{color:red}
