.category {padding:0px;margin:0px;border-top:10px solid;clear:both;}
.orange {border-color:#ffb400;}
.orange h3 {color:#ffb400}
.green {border-color:#6cc72c;}
.green h3 {color:#6cc72c}
.blue {border-color:#10b4ea;}
.blue h3 {color:#10b4ea}
.red {border-color:#f20000;}
.red h3 {color:#f20000}
.purple {border-color:#9E4A9C;}
.purple h3 {color:#9E4A9C;}
.category-title .category-icons img {padding-left:5px;height:20px;}
.category h3 {margin:0px;padding:0px;float:left;}
.duo-games-block {width:100%;border-top:2px solid #d2d2d2;padding:15px 0;clear:both;}
.game-block {float:left;width:50%;}
.game-block .left-side {float:left;width:108px;}
.game-block .right-side {width:230px;margin-left:125px; margin-bottom:10px;}
.game-block .padded {padding-bottom: 10px;}
.game-gammplay {width:98px;}
.category-title .category-icons {padding-top:8px;}
