.company-logo, .photo{width:90px;}
.groupBlock{border-top: 10px solid #A4A4A4;margin-top:15px}
.speaker-row{border-top: 2px solid #D2D2D2;}
.speaker-row h4 {font: bold 13px/18px Arial;}
.speaker-row .description-half{width:50%;padding:10px;}
.speaker-row .description{padding:10px 0px 10px 10px;width:100%;}
.breadcrumbs-icon {margin-right: 5px;}
.topic{padding-top:10px;}
.send-notification {margin-bottom:10px; display:block;}