.groupBlocks {border-top: 10px solid #10B4EA}
.groupBlocks h3 {color: #10B4EA;}
.cat-diamond {border-color:#10B4EA}
.cat-diamond h3 {color: #10B4EA}
.cat-platinum {border-color:#F20000}
.cat-platinum h3 {color:#F20000}
.cat-organizer {border-color:#ba56a7}
.cat-organizer h3 {color:#ba56a7}
.cat-gold {border-color:#ffb400}
.cat-gold h3 {color:#ffb400}
.cat-silver {border-color:#a4a4a4}
.cat-silver h3 {color:#a4a4a4}
.cat-bronze {border-color:#ff5300}
.cat-bronze h3 {color:#ff5300}
.cat-lounge {border-color:#53bfe5}
.cat-lounge h3 {color:#53bfe5}
.sponsor-full-row {border-top:2px solid #D2D2D2;padding:15px 0;min-height:120px;}
.sponsor-full-row .left-side {float: left; width:182px;}
.sponsor-full-row .left-side img {max-width:182px;max-height:200px;display:block;margin:0px auto;}
.sponsor-full-row .right-side {margin-left: 190px;}
.sponsors-container {width:186px;}
.sponsor {max-width:180px;}
.sponsor-platinum {max-height:130px;}
.sponsor-silver {max-width: 100px!important;max-height:80px;}
.sponsor-gold {max-width: 130px!important;max-height:80px;}
.sponsor-bronze {max-width: 80px!important;max-height:80px;}
.sponsor-lounge {max-width: 80px!important;max-height:80px;}
.sponsors-container h3, .sponsor{display:block;margin:0px auto;}
.sponsors-container h3 {font-size:14px;color:#ff5300;text-align:center;padding-top:20px}
.mail-item {margin-right: 5px;}
.communication {margin-top:10px; line-height: 16px;}