/* Bootstrap theme */
.text-left {
    text-align: left!important;
}


/* Custom styles */
body, html{
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
    color: #e9002b;
    text-decoration: underline;
}
a:hover {
    text-decoration: none !important;
}
a.dg-button{
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 9px;
    background-color: #6cc72c;
    border: 3px solid #6cc72c;
    border-radius: 5px;
    text-decoration: none;
}
a.dg-button:hover,
a.dg-button.dg-active{
    background-color: #f0f0f0;
    color: #000;
}
.game-form-wrapper{
    width: 780px;
    padding: 10px;
    margin: 0px auto;
    margin-top: 30px;
    background-color: #fff;
    overflow-x: hidden;
}
.form-horizontal .form-group{
    display: inline-block;
    width: 100%;
}
.game-form-wrapper .ticket-photo{
    display: none;
    max-width: 100%;
    margin: 10px auto 0 auto;
    box-shadow: 0px 0px 5px 1px #000;
}
.game-form-wrapper form .required > label:before{
    content: "*";
    display: inline-block;
    font-size: 16px;
}
.game-form-wrapper form label{
    line-height: 15px;
    padding-top: 2px!important;
}
.game-form-wrapper form select{
    padding: 3px 5px;
    height: 26px;
    min-width: 200px;
}
.game-form-wrapper form label.sublabel{
    font-weight: normal;
    padding-top: 5px!important;
}
.game-form-wrapper form .radio label,
.game-form-wrapper form .checkbox label{
    padding-top: 0px!important;
    line-height: 20px!important;
}
.game-form-wrapper form .radio-group .radio:first-child,
.game-form-wrapper form .checkbox-group .checkbox:first-child{
    padding-top: 0px;
    min-height: 20px;
}
.game-form-wrapper form .radio .radio,
.game-form-wrapper form .checkbox .checkbox{
    padding-left: 20px;
    padding-top: 3px;
    min-height: 20px;
}
.game-form-wrapper form textarea{
    resize: none;
}
.game-form-wrapper form label .hint a{
    font-size: 11px;
    line-height: 12px;
    color: #e9002b;
    text-decoration: underline;
    font-weight: normal;
}
.game-form-wrapper form label .hint,
.identify-form-wrapper form label .hint,
.bp-form-wrapper form label .hint
{
    display: block;
    font-size: 11px;
    line-height: 12px;
    color: #aaa;
    font-weight: normal;
}
.game-form-wrapper form .ticket-number{

}
.game-form-wrapper form .error{
    color: #a94442;
    padding: 3px 0px;
}
.game-form-wrapper form .ticket-number > div{
    position: relative;
}
.game-form-wrapper form .ticket-number > div:before{
    content: " ";
    display: block;
    width: 20px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: -10px;
}
.game-form-wrapper form .ticket-number > div .form-control{
    padding: 6px 0;
}
.game-form-wrapper form .ticket-number.has-error > div:before{
    background-color: #a94442;
}
.game-form-wrapper form .ticket-number > div:first-child:before{
    display: none
}
.game-form-wrapper form .btn-default{
    margin-right: 10px;
}
.game-form-wrapper ul.dg-breadcrumbs{
    width: 800px;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-bottom: 20px;
    list-style: none;
    margin-left: -10px;
}
.game-form-wrapper ul.dg-breadcrumbs li{
    float: left;
    width: 136px;
    height: 30px;
    margin-left: -11px;
}
.game-form-wrapper ul.dg-breadcrumbs li:first-child{
    margin-left: 0;
}
.game-form-wrapper ul.dg-breadcrumbs li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    outline: none;
    line-height: 30px;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    background: url('/i/awards/arrow.png?v=2') no-repeat 0px -30px;
}
.game-form-wrapper ul.dg-breadcrumbs li a.active{
    background-position: 0 0, center;
    background-position-x: 0px;
    background-position-y: 0px;
}

.game-form-wrapper ul.dg-breadcrumbs li a.inactive{
    background-position: 0px -30px;
    background-position-x: 0px;
    background-position-y: -30px;
    color: #aaaaaa;
}

.game-form-wrapper input.width95 {
    width: 95%;
}
.game-form-wrapper input.subcat_link {
    width: 405px;
    margin-right: 5px;
}

/*AWARDS PAGE */
.dg-content-wrapper{
    width: 800px;
    background-color: #fff;

    padding: 10px;
    margin: 0px auto;
}
.dg-content-wrapper.dg-page{
    width: 780px;
}
.dg-tags{
    display: inline-block;
    font-size: 0px;
    line-height: 0px;
}
.dg-tags a{
    display: block;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 9px;
    background-color: #10b4ea;
    border: 3px solid #10b4ea;
    border-radius: 5px;
    text-decoration: none;
}
.dg-tags a:hover,
.dg-tags a.dg-active{
    background-color: #f0f0f0;
    color: #000;
}
.dg-tags.dg-tag-type{

}
.dg-tags.dg-tag-type a{
    background-color: #ff5300;
    border: 3px solid #ff5300;
}
.dg-tags.dg-tag-type a:hover,
.dg-tags.dg-tag-type a.dg-active{
    background-color: #f0f0f0;
    color: #000;
}
.dg-sepline{
    clear: both;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #e1e1e1;
}

.dg-games{

}
.dg-games .items{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.dg-games .dg-game{
    display: block;
    width: 50%;
    margin-top: 15px;
    position: relative;
    height: 140px;
    float: left;
}
.dg-games .dg-game:after{
    content: " ";
    display: block;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #e1e1e1;
    position: absolute;
    left: 0px;
    bottom: 0px;width: 100%;
}
.dg-games .dg-game .dg-game-ico{
    font-size: 0px;
    min-width: 100px;
    min-height: 100px;
    float: left;
    padding: 15px 10px 10px 10px;
}
.dg-games .dg-game .dg-game-info{

}
.dg-games .dg-game .dg-game-title{
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 7px;
}
.dg-games .dg-game .dg-game-description{
    font-size: 11px;
    padding-bottom: 10px;
}
.dg-games .dg-game .dg-button{
    float: left;
    margin-right: 10px;
}
.dg-games .dg-game ul.dg-game-submitted{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: block;
}
.dg-games .dg-game ul.dg-game-submitted li{
    float: left;
    width: 39px;
    height: 39px;
}
.dg-games .dg-game ul.dg-game-submitted li a{
    display: block;
    width: 100%;
    height: 100%;
    cursor: default;
}
.dg-games .dg-game ul.dg-game-submitted li.dg-awards{
    background: url('/i/awards/ico/awards.png') no-repeat center;
}
.dg-games .dg-game ul.dg-game-submitted li.dg-game-lynch{
    background: url('/i/awards/ico/game_lynch.png') no-repeat center;
}
.dg-games .dg-game ul.dg-game-submitted li.dg-gamm-play{
    background: url('/i/awards/ico/gamm_play.png') no-repeat center;
}
/*AWARDS PAGE end*/

/*GAMM:PLAY*/
.dg-gammplay-day-title{
    font: 600 18px/22px Arial;
    color: #ff5300;
    padding-left: 3px;
}
table.gamm-play-showcase{

}
table.gamm-play-showcase tr th{
    background-color: #fdb730;
    text-align: center;
    padding: 0;
    border: 3px solid #fff;
    height: 27px;
    line-height: 27px;
}
table.gamm-play-showcase tr th span{
    font-weight: normal;
}
table.gamm-play-showcase tr td{
    min-width: 330px;
    padding: 0;
    border: 3px solid #fff;
    vertical-align: middle;
    background-color: #ebebeb;
}
table.gamm-play-showcase tr td:first-child{
    width: 115px;
    min-width: 115px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
table.gamm-play-showcase tr td.dg-free-spot{
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    line-height: 12px;
    background-color: #e4ffd2;
    text-align: center;
    height: 63px;
}
table.gamm-play-showcase tr td.dg-reserved{
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    line-height: 12px;
    background-color: #ffdddd;
    text-align: center;
    height: 63px;
}
table.gamm-play-showcase tr td.dg-empty{
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    line-height: 12px;
    background-color: #fff;
    text-align: center;
    height: 63px;
}
table.gamm-play-showcase .dg-game{
    padding: 5px 5px 0px 5px;
    display: inline-block;
    width: 100%;
}
table.gamm-play-showcase .dg-game .dg-game-ico{
    font-size: 0px;
    float: left;
    padding: 0px 5px 5px 0px;
}
table.gamm-play-showcase .dg-game .dg-game-ico img{
    width: 50px;
    height: auto;
}
table.gamm-play-showcase .dg-game .dg-game-title{
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    line-height: 18px;
}
table.gamm-play-showcase .dg-game .dg-game-description{
    font-size: 12px;
    font-style: italic;
}
/*GAMM:PLAY end*/
.throbber{
    background: url('/i/awards/throbber1.gif') no-repeat 0px 0px;
    width: 32px;
    height: 34px;
}
.upload_status{
    background: url('/i/awards/uploadstatus1.gif') repeat 0px 0px;
    width: 520px;
    height: 22px;
    z-index: 11;
    position: absolute;
    top: 0px;
    left: 0px;
}
.delete{
    background: url('/i/awards/delete.png') no-repeat 0px 0px;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
}
.pager li > a,
.pager li > a span {
    border-radius: 0 !important;
}
/*GAME start*/
h3 {
    font: 600 18px/36px Arial;
    color: #ff5300;
    margin: 0;
    padding: 0 0 5px 0;
}
.dg-col_1{
    width: 600px;
    float: left;
    margin-right: 10px;
}
.dg-col_2{
    width: 170px;
    float: left;
    min-height: 100px;
}
.dg-col_2 .dg-gameinfo-block{
    background-color: #eee;
    margin-bottom: 5px;
    padding: 10px;
}
ul.dg-game-submitted{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
}
ul.dg-game-submitted li{
    float: left;
    width: 39px;
    height: 39px;
}
ul.dg-game-submitted li a{
    display: block;
    width: 100%;
    height: 100%;
}
ul.dg-game-submitted li.dg-awards{
    background: url('/i/awards/ico/awards.png') no-repeat center;
}
ul.dg-game-submitted li.dg-game-lynch{
    background: url('/i/awards/ico/game_lynch.png') no-repeat center;
}
ul.dg-game-submitted li.dg-gamm-play{
    background: url('/i/awards/ico/gamm_play.png') no-repeat center;
}
div.dg-media_active{
    width: 600px;
    font-size: 0px;
    padding: 0;
    margin: 0 0 5px 0;
}
div.dg-media_active iframe{
    width: 600px;
    height: 350px;
}
div.dg-media_active img{
    width: 100%;
    height: auto;
}
div.dg-medialist{
    display: inline-block;
    width: 610px;
}
div.dg-medialist div.dg-media_active{
    font-size: 0px;
    text-align: center;
}
div.dg-medialist div.dg-media{
    position: relative;
    float: left;
    width: 146px;
    height: 100px;
    cursor: pointer;
    font-size: 0px;
    margin: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0px;
}
div.dg-medialist div.dg-media img{
    width: 100%;
    height: 100%;
}
div.dg-medialist div.dg-media p,
div.dg-medialist div.dg-media iframe{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div.dg-medialist div.dg-media div.dg-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0px;
    top: 0px;
}
div.dg-medialist div.dg-media.dg-dim div.dg-overlay{
    border: 3px solid #10b4ea;
}
div.dg-medialist div.dg-media.dg-dim div.dg-overlay:before{
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #10b4ea;
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -7px;
}
.stButton .stLarge {
    height: 26px!important;
    width: 26px!important;
    background-size: cover!important;
}
.stButton .stLarge:hover {
    height: 26px!important;
    width: 26px!important;
    background-size: cover!important;
    background-position: 0, 0!important;
}

.dg-col_2 .dg-gameinfo-block .version-ico{
    max-width: 38px;
    max-height: 25px;
    position: absolute;
    left: 5px;
    top: 1px;
}
.error{
    color: #a94442;
    padding: 3px 0px;
}